@font-face {
    font-family: 'neon';
    src: url('font/Helvetica-Black.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow: hidden;
}

header{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000   ;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
.fake{
    width: 24px;
    height: 24px;
}

.menu{
    cursor: pointer;
}

.navbar-menu{
    display: none;
}
.clicked{
    display: block;
}

ul{
    display: flex;
    gap: 14px;
    flex-direction: column;
    background-color: #000;
    position: relative;
    top: 60px;
    width: 100%;
    list-style: none;
    font-family: "Oswald", sans-serif;
    z-index: 10000;
    padding: 54px 0;

}
ul a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    line-height: 60px; /* 187.5% */
}
li{
    padding: 0 4px;
}
.dim-wrap{
    display: none;
}
.dim{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.40);
}

.hero{
    background-image: url(img/hero-overlay.png);
    background-color: #02B350;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #000;
    font-family: "Oswald", sans-serif;
}
#text{
    width: 100%;
    position: absolute;
    top: 120px;
    z-index: 10;
}
.text{
    text-align: center;
    
}
    .text p:nth-child(1){
        font-size: 36px;
        font-weight: 500;
    }
    .text p:nth-child(2){
        font-size: 110px;
        font-weight: 700;
        line-height: 90%;
    }
    .text p:nth-child(3){
        font-size: 64px;
        font-weight: 500;
        line-height: 90%;
    }

#product{
    width: 100%;
    position: absolute;
    top: 220px;
    z-index: 20;
}
.product{
    text-align: center;
}
.product img{
    cursor: pointer;
}

.arrow-down{
    text-align: center;
}

#object{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
}
    .object1{
        width: fit-content;
        position: absolute;
        top: 150px;
        left: 400px;
    }
    .object2{
        width: fit-content;
        position: absolute;
        top: 300px;
        left: 500px;
    }
    .object3{
        width: fit-content;
        position: absolute;
        top: 120px;
        right: 150px;
    }
    .object4{
        width: fit-content;
        position: absolute;
        top: 230px;
        left: 100px;
    }
    .object5{
        width: fit-content;
        position: absolute;
        top: 400px;
        right: 200px;
    }
    .object6{
        width: fit-content;
        position: absolute;
        bottom: 50px;
        right: 320px;
    }
    .object7{
        width: fit-content;
        position: absolute;
        bottom: 40px;
        left: 300px;
    }

.banner{
    position: absolute;
    top: 60vh;
    width: 100%;
}
    .banner img:nth-child(1){
        width: 200%;
        transform: rotate(10deg);
        position: relative;
        left: -100px;
        top: 200px;
        z-index: 1000;
    }
    .banner img:nth-child(2){
        width: 200%;
        transform: rotate(-10deg);
        position: relative;
        left: -100px;
        bottom: 100px;
        
    }

.arrow-down{
    position: absolute;
    width: 100%;
    bottom: 20px;
    cursor: pointer;
    
}
.arrow-down img{
    transition: all 0.2s ease;
}

